doctype 5
html
    head
        title= "BesserQuizzer Server"
        link(rel="stylesheed", type="text/css", href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps')
        link(rel="stylesheet", type="text/css", href="/css/bqs.css")
    body
        div.content
            header
                div#logo
                    span#b B
                    span#q Q
                div#title
                    span#besser Besser
                    span#quizzer Quizzer

