/*
 * Scss file for keeping all color definitions in one place.
 */

$color-light: #efecca;
$color-sand:  #e6e2af;
$color-beige: #A7A37E;
$color-aqua:  #046480;
$color-dark:  #002f2f;

$color-pri-1: #046580;
$color-pri-2: #1A5160;
$color-pri-3: #014153;
$color-pri-4: #34A1C0;
$color-pri-5: #59A9C0;

$color-sec-a1: #CE9000;
$color-sec-a2: #9A7827;
$color-sec-a3: #865E00;
$color-sec-a4: #E6B33A;
$color-sec-a5: #E6C068;

$color-sec-b1: #CE1C00;
$color-sec-b2: #9A3627;
$color-sec-b3: #861200;
$color-sec-b4: #E6513A;
$color-sec-b5: #E67968;

$color-neutral1: #fcfff5;
$color-neutral2: #d1dbbd;
$color-neutral3: #91aa9d;
$color-neutral4: #3e606f;
$color-neutral5: #193441;

$facebookBlue: #3b5998;
